
.bg_color{
   background-color: rgb(195, 168, 14);
}

._container_cell{
   width: 500px;
   aspect-ratio: 1;
   outline: 1px solid;
}

._cell{
   aspect-ratio: 1;
   border: 1px solid;
   font-weight: 600;
   background-color: rgb(255, 207, 208);

   display: flex;
   justify-content: center;
   align-items: center;
}

._overlay{
   height: 600px;
   aspect-ratio: 1;
   background-color: rgba(0, 0, 0, 0.508);
   font-size: 60px;
   
}




/* difficults */
._hard{
   width: calc(100% / 7);
}

._medium{
   width: calc(100% / 9);
}

._easy{
   width: calc(100% / 10);
} 




/* background */

._bgcell{
   background-color: aqua;
}

